.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
  
h1 {
    font-size: 60px;
    margin-bottom: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}
  
  
a {
    flex-direction: row;
    display: block;
    background-color: rgb(246, 246, 229);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.2s ease-in-out;
}
  
a:hover {
    width: 120px;
    height:80px;
}
  